{% extends '::base.html.twig' %}

{% block title %}
  Register
{% endblock %}

{% form_theme form '@App/User/register.html.twig' %}

{% block form_row %}
  <div class="form-group {{ not form.vars.valid ? 'has-error' : form.vars.submitted ? 'has-success' : '' }}">
    {{ form_errors(form) }}
    <div class="col-sm-2">
      {{ form_label(form) }}
    </div>
    <div class="col-sm-10">
      {{ form_widget(form, {
        'attr': { 'class': 'form-control' }
      }) }}
    </div>
  </div>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="page-header">
      <h1>Register</h1>
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">
        <i class="fa fa-user-plus"></i> Register!
      </button>
    </div>
    {{ form_end(form) }}
  </div>
{% endblock %}
